.card {
  max-width: 700px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 40px auto;
  padding: 20px 40px;
}
.id {
  background: #2b9b55;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}
.card p {
  margin: 35px 0;
}
.pass {
  background: rgb(231, 73, 73);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.cpbtn:hover {
  background: white !important;
  border: 2px solid rgb(30, 107, 158) !important;
  cursor: pointer;
  color: rgb(30, 107, 158) !important;
}

.wpbtn {
  border-radius: 10px;
  width: 100%;
  padding: 15px;
  background: #2b9b55;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.1s ease-in-out;
}

.fbbtn {
  border-radius: 10px;
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  background: #0084ff;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.1s ease-in-out;
}
.wpbtn:hover {
  color: #2b9b55;
  background-color: white !important;
  border: 2px solid;
  cursor: pointer;
}
.fbbtn:hover {
  color: #0084ff;
  background-color: white !important;
  border: 2px solid;
  cursor: pointer;
}
@media only screen and (max-width: 1200px){
  /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px){
/*Big smartphones [426px -> 600px]*/
  .card{
    margin:20px;
  }
}
@media only screen and (max-width: 425px){
/*Small smartphones [325px -> 425px]*/
  .card{
    margin:20px;
  }
}

@media only screen and (max-width: 400px){
  .id2 {
    display: none;
  }
}